/*------------------------------------------------------------------
[Table of contents]

 - Global
 - Typography
 - Form
 - Logo
 - Main menu
 - Slider pro
 - Main styles
 - Hover masks
 - Dividers
 - Carousel
 - Titles
 - Team
 - Clock
 - Social buttons
 - Brands
 - Blog
 - Contacts
 - Portfolio
 - Fonts
 - Footer
 - Mobile menu

-------------------------------------------------------------------*/


/*-- Global --*/

.ua-ie-8 body:after {
    background: none repeat scroll 0 0 red;
    color: #fff;
    content: "IE 8 NOT SUPPORT :(";
    display: block;
    font-family: monospace;
    font-size: 40px;
    height: 100%;
    left: 0;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.ua-ie-8 .layout-theme {
    display: none !important;
}

body {
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 14px;
    line-height: 1.52857;
    background: #f5f5f5;
    overflow-x: hidden;
}

html .header .pix_row,
html .header div[class*="col"] {
    background-color: transparent;
}


/*-- Typography --*/

a {
    color: #7460ca;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    margin: 0 0 20px;
}

blockquote {
    margin: 40px;
    font-style: italic;
    text-shadow: 1px 1px 1px #ccc;
}


/*-- Form --*/

input,
textarea {
    border: 1px solid #dddddd;
    font-size: 14px;
    padding: 10px;
    outline: none;
}

input:focus,
textarea:focus {
    border: 1px solid #7460ca;
}

.header {}


/*-- Logo --*/

.logo {
    display: inline-block;
    margin-bottom: 15px;
}

.logo-1 {
    margin-bottom: 0;
}


/*-- Main menu --*/

.navbar-fixed-sidebar .hamburger span {
    background-color: #fff !important;
}

.hamburger {
    position: absolute;
    top: 45px;
    z-index: 101;
    display: block;
    float: left;
    left: 100%;
    margin-left: -28px;
    width: 28px;
    height: 24px;
    margin-right: 15px;
    background: transparent;
    border: none;
    transition: all 300ms;
}

.hamburger-1 {
    top: 37px;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #ccc;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    transform: translate3d(-100px, 0, 0);
    transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #d4d4d4;
}

.hamburger.is-closed .hamb-top {
    top: 2px;
    transition: all .3s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 2px;
    transition: all .3s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    transition: all .3s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    transition: all .3s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #d4d4d4;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    transform: rotate(45deg);
    transition: transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    transform: rotate(-45deg);
    transition: transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    transform: translate3d(-100px, 0, 0);
    transition: all .35s ease-in-out;
}

.main-menu>li {
    position: relative;
    right: -1000px;
    transition: all 300ms;
}

.slide-menu {
    float: right;
    text-align: right;
    padding: 0 0px 0 0;
    position: relative;
}

.main-menu {
    margin: 0;
    padding: 0;
}

.main-menu>li {
    display: inline-block;
}

.main-menu>li>a {
    padding: 44px 10px 43px 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #333333;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all 300ms;
}

.main-menu-1>li>a {
    padding: 36px 10px 36px 10px;
}

.main-menu>li>a:hover {
    border-top-color: #7460ca;
}

.main-menu>li.active>a {
    border-top-color: #7460ca;
    color: #f58201;
}

.main-menu>li.open>a {
    border-top-color: #7460ca;
}

.main-menu>li.latest>a {
    padding-right: 0;
}

.main-menu>li.dropdown:hover>ul.dropdown-menu {
    display: block;
}

.dropdown-menu {
    background-color: #7460ca;
    padding: 10px 0 !important;
}

.dropdown-menu>li>a {
    color: #fff;
    padding: 10px 20px;
    font-size: 12px;
}

.dropdown-menu>li>a:hover {
    background-color: #f5f5f5;
    color: #333333;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #333;
    background-color: #f5f5f5;
}


/*-- Slider pro --*/

.sp-layer {
    z-index: 78;
}

.slider-pro h2.sp-layer {
    font-size: 28px;
    font-family: Raleway;
    font-weight: bold;
}

.slider-pro p.sp-layer {
    font-size: 17px;
}

.main-slider:hover .main-slider-prev,
.main-slider:hover .main-slider-next {
    color: #666 !important;
}

.main-slider-prev,
.main-slider-next {
    color: #d4d4d4;
    position: absolute;
    line-height: 0;
    height: 34px;
    top: 50%;
    margin-top: -17px;
    font-size: 35px;
    z-index: 78;
    transition: all 300ms;
}

.main-slider-prev {
    left: 20px;
}

.main-slider-next {
    right: 20px;
}

.main-slider:hover .main-slider-prev,
.main-slider:hover .main-slider-next {
    color: #7460ca;
}

.home-2-header h2 {
    font-size: 28px;
}

.home-2-header p {
    font-size: 16px;
}


/*-- Main styles --*/

#main {
    background: #fff;
}

html .bg-gray {
    background: #ebebeb;
}

html .bg-gray-light {
    background: #eee;
}

html .bg-gray-light .divider-right-bot:before {
    background: #fff;
}

html .bg-purple {
    background: #7460ca;
}

.pix-padding20 {
    padding: 20px !important;
}

.pix-padding30 {
    padding: 30px !important;
}

.pix-padding40 {
    padding: 40px !important;
}

.pix-padding50 {
    padding: 50px !important;
}

.pix-padding60 {
    padding: 60px !important;
}

.pix-item img {
    height: auto;
    position: relative;
    width: 100%;
    z-index: 77;
}

.pix_row,
.pix_row div[class*='col'] {
    background: none repeat scroll 0 0 #ffffff;
    margin: 0;
    padding: 0;
}

.height-y1 {
    height: 240px;
    overflow: hidden;
}

.height-y2 {
    height: 480px;
    overflow: hidden;
}

.custom-height {
    height: auto !important;
}

.y1 {
    height: 240px;
}

.y2 {
    height: 480px;
}

.y1_7 {
    height: 350px;
}

.y1_7 .pix-item-text {
    height: 350px;
}

.y1_7 .pix-carousel {
    height: 350px;
}

.pix_row ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pix_row ul li {
    margin: 0;
    height: auto;
    padding: 0;
}

.pix-item {
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.pix-item:hover .border-bottom {
    border-bottom: 6px solid transparent;
}

.pix-item img {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.pix-item:hover img {
    transform: scale(1.1);
}

.pix-item.no-scale:hover img {
    transform: scale(1);
}

.pix-item:hover .hover-mask {
    opacity: 1;
}


/*-- hover masks --*/

.isotope-frame .hover-mask {
    line-height: 400px !important;
}

.portfolio-single .hover-mask {
    line-height: 340px !important;
}

.hover-mask {
    background-color: ;
    display: inline-block;
    position: absolute !important;
    z-index: 101;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: none !important;
    line-height: 240px !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.y2 .hover-mask {
    line-height: 480px !important;
}

.hover-mask a {
    text-decoration: none !important;
}

.hover-mask i {
    color: #fff;
    font-size: 32px;
    margin: 10px;
    transition: all 4s ease 0s;
}

.hover-mask i:hover {
    position: relative;
    top: -3px;
}

.hover-mask img {
    position: absolute;
    z-index: -999;
    opacity: 0;
    left: 0;
    bottom: 30%;
    top: auto;
}

.hover-mask .preview--open img {
    z-index: 9;
    opacity: 0;
}

.portfolio-info-page {
    margin-right: 75px;
}


/*-- Dividers --*/

.divider-right-top:hover:before {
    left: 45%;
}

.divider-right-top:before {
    background: none repeat scroll 0 0 #f5f5f5;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transition: none 0s ease 0s;
    width: 100%;
    transform: rotate(0deg) scale(1) skew(45deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(45deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(45deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(45deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(45deg) translate(0px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.divider-right-top.bg-purple:before {
    background: rgba(255, 255, 255, 0.1);
}

.divider-right-top-x2:before {
    transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
}

.divider-right-bot:hover:before {
    left: 45%;
}

.divider-right-bot:before {
    background: #f5f5f5;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transition: none 0s ease 0s;
    width: 100%;
    transform: rotate(0deg) scale(1) skew(132.8deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(132.8deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(132.8deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(132.8deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(132.8deg) translate(0px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.divider-right-bot-x2:before {
    transform: rotate(0deg) scale(1) skew(121.6deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(121.6deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(121.6deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(121.6deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(121.6deg) translate(0px);
}

.divider-right-bot-footer:before {
    transform: rotate(0deg) scale(1) skew(101.6deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(101.6deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(101.6deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(101.6deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(101.6deg) translate(0px);
}

.pix-media-box.divider-right-bot:before {
    transform: rotate(0deg) scale(1) skew(135deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(135deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(135deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(135deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(135deg) translate(0px);
}

.divider-left-bot:hover:before {
    right: 55%;
}

.divider-left-bot:before {
    background: #f5f5f5;
    content: "";
    height: 100%;
    right: 50%;
    position: absolute;
    top: 0;
    transition: none 0s ease 0s;
    width: 100%;
    transform: rotate(0deg) scale(1) skew(47.2deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(47.2deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(47.2deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(47.2deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(47.2deg) translate(0px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.divider-left-bot.bg-purple:before {
    background: rgba(255, 255, 255, 0.1);
}

.divider-left-bot-x2:before {
    transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(58.5) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(58.5deg) translate(0px);
}

.divider-left-top:hover:before {
    right: 55%;
}

.divider-left-top:before {
    background: #f5f5f5;
    content: "";
    height: 100%;
    right: 50%;
    position: absolute;
    top: 0;
    transition: none 0s ease 0s;
    width: 100%;
    transform: rotate(0deg) scale(1) skew(132deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1) skew(132deg) translate(0px);
    -moz-transform: rotate(0deg) scale(1) skew(132deg) translate(0px);
    -o-transform: rotate(0deg) scale(1) skew(132deg) translate(0px);
    -ms-transform: rotate(0deg) scale(1) skew(132deg) translate(0px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.pix-item-text * {
    position: relative;
}

.ticker-area * {
    text-align: center;
}

.pix-item-text h1 {
    font-size: 19px;
    color: #000;
}

.pix-item-text h2 {
    font-size: 18px;
    color: #000;
}

.pix-item-text h3 {
    font-size: 17px;
    color: #000;
}

.pix-item-text h4 {
    font-size: 16px;
    color: #000;
}

.pix-item-text h5 {
    font-size: 15px;
    color: #000;
}

.pix-item-text h6 {
    font-size: 14px;
    color: #000;
}

.pix-item-text .fa {
    font-size: 36px;
}

.pix-item-wrap {
    display: table;
    width: 100%;
}

.pix-item-text {
    background: none repeat scroll 0 0 #fff;
    display: table-cell;
    font-size: 20px;
    font-weight: 300;
    height: 240px;
    padding: 0 10%;
    vertical-align: middle;
}

.pix-item-text.header-home-3 {
    font-size: 14px;
}

ul .pix-item-text {
    font-size: 12px;
}

.pix-item-owl {
    padding: 20% 0;
    position: relative;
    text-align: center;
    z-index: 9;
}

.pix-item-text:after {
    border-bottom: 3px solid transparent;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 33%;
    position: absolute;
    width: 37%;
}

.border-bottom {
    border-bottom: 3px solid transparent;
    bottom: 0;
    display: inline-block;
    left: 33%;
    position: absolute;
    width: 37%;
    transition: all 300ms;
}

.color-green {
    color: #42dbcc;
}

.color-green:after {
    border-bottom: 3px solid #42dbcc;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 33%;
    position: absolute;
    width: 37%;
}

.color-blue,
.team-box:hover .blue-hover.team-box-data {
    color: #3198de;
    border-color: #3198de !important;
}

.color-blue:after {
    border-bottom: 3px solid #42dbcc;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 33%;
    position: absolute;
    width: 37%;
}

.color-yellow,
.team-box:hover .yellow-hover.team-box-data {
    color: #ffd24d;
    border-color: #ffd24d !important;
}

.color-yellow:after {
    border-bottom: 3px solid #ffd24d;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 33%;
    position: absolute;
    width: 37%;
}

.color-light-green,
.team-box:hover .green-hover.team-box-data {
    color: #42dbcc;
    border-color: #42dbcc !important;
}

.color-light-green:after {
    border-bottom: 3px solid #42dbcc;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 33%;
    position: absolute;
    width: 37%;
}


/*-- Carousel --*/

.pix-carousel {
    margin: 0;
    padding: 0px 80px;
    vertical-align: middle;
    display: table-cell;
}

.pix-info-icon-item {
    font-size: 12px;
    margin-bottom: 20px;
    padding: 15px 135px 0 0;
    position: relative;
}

.pix-list li {
    font-size: 12px;
    margin-bottom: 10px !important;
    padding: 15px 135px 0 0 !important;
    position: relative;
}

.pix-list li p {
    font-size: 12px;
}

.pix-media-box {
    color: #7460ca;
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 60px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 10px;
    width: 100px;
    height: 100px;
}

.pix-media-box .fa {
    font-size: 26px;
}


/*-- Titles --*/

.pix-title-small-box {
    padding: 10%;
}

.pix-title-small-box h3 {
    font-size: 16px !important;
}

.title_noborder *,
.title_noborder h3::after {
    border: none !important;
}

.pix-title-center.title_noborder .pix-title {
    margin: 0;
}

.title_noborder.pix-title-center .pix-title h3 {
    display: inline-block;
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 20px;
}

.title_noborder .after-title-info {
    margin: 0 auto !important;
}

.after-title-info .btn-learn-more {
    display: inline-block;
    margin-top: 30px;
}

.btn-learn-more {
    font-size: 12px;
    text-transform: uppercase;
    color: #7460ca;
}

.pix-title-center {
    text-align: center;
}

.pix-title-center .pix-title {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 530px;
}

.after-title-info {
    font-size: 14px;
    font-weight: 300;
    margin: 30px auto;
    max-width: 700px;
}

.header-4 .after-title-info {
    font-size: 18px;
}

.after-title-info h6 {
    margin-bottom: 30px;
}

.pix-title-center .pix-title h3 {
    border: medium none !important;
    display: inline-block;
    line-height: 70px;
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
    text-align: center;
}

.pix-title-center .pix-title h3:after {
    border-bottom: 3px solid #ffd24d;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 10%;
    position: absolute;
    right: 10%;
    width: 80%;
}

.pix-title-center .pix-title h3.h3-green:after {
    border-bottom: 3px solid #42dbcc;
}

.pix-title-center .pix-title h3.h3-orange:after {
    border-bottom: 3px solid #f58201;
}

.pix-title-center .pix-title h3.h3-grey:after {
    border-bottom: 3px solid #a9a9a9;
}

.title_after_title.pix-title-center .pix-title h3 {
    line-height: 50px;
}

.pix-title-center.title_after_title .pix-title span {
    display: inline-block;
    font-size: 14px;
    font-weight: normal !important;
    line-height: 1.333;
    position: relative;
    text-transform: uppercase;
    top: 0px;
    width: 100%;
}

.pix-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    position: relative;
}

.pix-title h3 {
    border-bottom: 3px solid #ffd24d;
    bottom: 0;
    display: table-cell;
    font-size: 26px;
    font-weight: 600;
    left: 0;
    line-height: 44px;
    position: relative;
    top: 1px;
}

.pix-title h3 span {
    font-weight: 600;
}

.font-bold {
    font-weight: 600;
}

.pix-title-right {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 15%;
    margin-right: 15%;
    padding-left: 15%;
    padding-top: 100px;
    position: relative;
}

.pix-title-right:after {
    border-bottom: 3px solid #ffd24d;
    bottom: 0;
    content: "";
    display: block;
    font-size: 26px;
    font-weight: 400;
    left: 50%;
    line-height: 44px;
    position: relative;
    top: 1px;
    width: 100%;
}

.pix-title-right h3 {
    font-weight: 400;
}


/*-- Team --*/

.team-wrap {
    padding: 0 30px 70px;
    text-align: center;
}

.team-wrap-bottom-desc {
    padding: 50px 30px 80px;
}

.team-box {
    display: inline-block;
    padding: 0 20px;
    position: relative;
}

.team-box-img {
    position: relative;
}

.team-box img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.team-box:hover img {
    width: 100%;
    height: auto;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.team-box-data.team-data-bottom {
    border-bottom: 1px solid #eaeaea;
    border-top: 0 !important;
    padding: 45px 0 40px !important;
}

.team-box-data {
    border-top: 1px solid #eaeaea;
    padding: 70px 0 40px !important;
    position: relative;
}

.team-box-data:after {
    border: 0 !important;
}

.team-box-data h5 {
    font-size: 16px;
    color: #000
}

.team-box-position {
    font-size: 11px;
    text-transform: uppercase;
    top: -10px;
    position: relative;
}

.team-box:hover .team-box-info {
    opacity: 1;
}

.team-box-info {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    background: rgba( 255, 255, 255, 0.7);
    color: #444444;
    font-size: 14px;
}

.team-box-info p {
    color: #444444;
    font-size: 14px;
}

.team-box-info i {
    color: #666666;
    margin: 10px;
}


/*-- Clock --*/

.clock-item {
    background-color: #3198de;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.clock-item-1 {
    background-color: #fff;
    color: #000;
}

#clock {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 25px auto 18px auto;
    background: url("clockface.png");
    background-size: cover;
    list-style: none;
}

#sec,
#min,
#hour {
    position: absolute;
    width: 12px;
    height: 150px;
    top: 0px;
    left: 69px;
}

#sec {
    background: url("sechand.png");
    background-size: cover;
    z-index: 3;
}

#min {
    background: url("minhand.png");
    background-size: cover;
    z-index: 2;
}

#hour {
    background: url("hourhand.png");
    background-size: cover;
    z-index: 1;
}


/*-- Social buttons --*/

.socials-purple {
    text-align: center;
    font-size: 11px;
}

.social-purple {
    display: inline-block;
    width: 60px;
    margin: 20px 30px 20px 30px;
    color: #fff;
}

.social-purple-icon {
    background: #fff;
    width: 26px;
    height: 26px;
    line-height: 28px;
    margin: 0 auto 10px;
    border-radius: 3px;
}

.social-purple-icon .fa {
    font-size: 13px;
    color: #7460ca;
}

.why-me-text {
    padding: 90px 50px 90px 0;
    font-weight: 300;
}

.info-wrap {
    padding: 50px 30px 40px;
}


/*-- Brands --*/

.brand-wrap {
    text-align: center;
}

.brand-wrap.brand-wrap-vertical {
    padding: 60px 0;
}

.brand-box {
    display: inline-block;
    max-width: 225px;
    text-align: center;
    margin-bottom: 20px;
}

.brand-box img {
    width: 100%;
    height: auto;
}

.brand-wrap.brand-wrap-vertical .brand-box {
    max-width: 160px;
}


/*-- Blog --*/

.blog-post {
    padding: 15px 25px;
}

.blog-info {
    padding: 70px 45px;
    font-size: 14px;
    color: #666666;
    font-weight: 300;
}

.blog-title a {
    color: #333;
}

.blog-title {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;
    font-weight: 600;
}

.blog-info,
.blog-thumb {
    height: 290px;
}

.blog-data {
    padding-top: 20px;
    font-size: 12px;
}

.blog-data i {
    margin-right: 2px;
}

.blog-thumb img {
    width: 100%;
    height: auto;
}

.post-share a {}

.blog-info.divider-left-bot {
    background-color: #eee;
}

.blog-info * {
    position: relative;
    z-index: 11;
}

.pix-pagination {
    padding: 40px;
    font-size: 12px;
    color: #666;
}

.pix-pagination a {
    font-size: 12px;
    color: #666;
    padding: 0 3px;
}

.pix-pagination a:hover {
    text-decoration: underline;
}

.pix-pagination strong {
    color: #f58201;
    padding: 0 3px;
}

.post-thumb,
.post-info {
    padding: 20px;
}

.post-thumb img {
    width: 100%;
    height: auto;
}

.post-data {
    font-size: 12px;
    color: #666;
}

.post-title {
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.post-conten,
.post-content p {
    font-size: 14px;
    color: #444444;
}

.quote-left {
    padding-left: 80px;
    position: relative;
}

.quote-left i {
    left: 30px;
    position: absolute;
    top: 40px;
    font-size: 26px;
}

.quote-right {
    padding-right: 80px;
    position: relative;
}

.quote-right i {
    right: 30px;
    position: absolute;
    top: 40px;
}

.post-data {
    padding: 20px 0;
}

.post-divider {
    border-bottom: 3px solid #666;
    border-top: none;
    margin: 60px 0 40px;
    width: 50px;
}

.post-meta a {
    margin: 0 10px;
    position: relative;
}

.post-share {
    margin-top: 20px;
}

.post-share a {
    font-size: 16px;
    padding: 0 5px 0 10px;
    position: relative;
}

.post-share a i {
    color: #adadad;
    margin-left: 5px;
    margin-right: 10px;
}

.post-share a:after {
    color: #f68a12;
    content: "/";
    display: inline-block;
    margin-right: -10px;
}

.post-share a.latest:after {
    content: "";
}

.comment-title {
    margin-top: 30px;
}

.comment-form {
    padding: 30px 0;
    overflow: hidden;
}

.comment-form-item {
    margin: 15px 0 !important;
}

.comment-form-item-1 {
    padding-right: 20px !important;
}

.comment-form-item-2 {
    padding-left: 20px !important;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
}

.comment-form textarea {
    height: 200px;
}

.comment-form label {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
}

.title-o {
    font-size: 26px;
    color: #000;
    padding: 30px;
    background: #f3f3f3;
}


/*-- Contacts --*/

#contact-map {
    height: 400px;
}

.contact-info {
    padding: 70px 70px;
}

.contact-title {
    color: #7460ca;
}

.contact-subtitle {
    font-weight: 600;
    margin: 30px 0;
}

.contact-info .post-divider {
    margin-top: 150px;
}

.contact-form {
    overflow: hidden;
}

.contact-form-item {
    margin: 15px 0 !important;
}

.contact-form-item-1 {
    padding-right: 10px !important;
}

.contact-form-item-2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.contact-form-item-3 {
    padding-left: 10px !important;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
}

.contact-form textarea {
    height: 200px;
}

.contact-form label {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 10px;
}


/*-- Portfolio --*/

.portfolio-nav {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0;
    padding-top: 20px;
}

.portfolio-nav-item {
    margin: 0 10px;
    color: #d4d4d4;
}

.portfolio-nav-item:hover {
    color: #666;
}


/*-- Fonts --*/

.text-transform {
    text-transform: uppercase;
}

.size12 {
    font-size: 12px !important;
}

.size13 {
    font-size: 13px !important;
}

.size14 {
    font-size: 14px !important;
}

.size15 {
    font-size: 15px !important;
}

.size16 {
    font-size: 16px !important;
}

.size17 {
    font-size: 17px !important;
}

.size18 {
    font-size: 18px !important;
}

.size19 {
    font-size: 19px !important;
}

.size20 {
    font-size: 20px !important;
}

.size21 {
    font-size: 21px !important;
}

.size22 {
    font-size: 22px !important;
}

.size23 {
    font-size: 23px !important;
}

.size24 {
    font-size: 24px !important;
}

.size25 {
    font-size: 25px !important;
}

.size26 {
    font-size: 26px !important;
}

.size27 {
    font-size: 27px !important;
}

.size28 {
    font-size: 28px !important;
}

.mb0 {
    margin-bottom: 0 !important;
}


/*-- Footer --*/

.footer {
    background: none repeat scroll 0 0 #262626;
    color: #cccccc;
    margin: 30px 0;
    overflow: hidden;
    padding: 40px 0 70px;
    position: relative;
    text-align: center;
}

html .footer:before {
    background-color: #313131;
}

.footer nav li {
    display: inline-block;
    list-style: outside none none;
    margin: 0 10px;
}

.footer a {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}

.fot-logo {
    padding: 20px;
}

.copy {
    font-size: 12px;
    color: #666666;
    font-size: 12px;
}


/*-- Mobile menu --*/

#mobile-menu {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -290px;
    z-index: 1000;
    width: 290px;
    background-color: #f5f5f5;
    padding: 35px;
    height: 100%;
    border-right: 1px solid #ccc;
    transition: all 300ms;
}

ul.left-menu {
    list-style: outside none none;
    padding: 0;
}

#left-menu>li {
    padding: 13px 0;
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #bfcace;
}

#left-menu>li>a {
    width: 100%;
    display: block;
    font-weight: 600;
}

ul.slide-menu-child {
    padding-left: 18px;
}

ul.slide-menu-child>li {
    padding: 3px 5px;
    font-size: 14px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active>a>.fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active>a>.fa.plus-times {
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active>a>.fa.plus-minus:before {
    content: "\f068";
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    left: 0;
    opacity: 0;
    display: none;
    transition: all 300ms;
}

#contact-form {
    overflow: hidden;
}

.form-error {
    position: relative;
    background: #f2dede;
    padding: 9px;
    font-size: 10px;
    color: #D8000C !important;
    border: 1px solid #ebccd1;
    margin-top: 10px;
    margin-bottom: 0;
}

.form-error:after,
.form-error:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.form-error:after {
    border-color: rgba(242, 222, 222, 0);
    border-bottom-color: #f2dede;
    border-width: 8px;
    margin-left: -8px;
}

.form-error:before {
    border-color: rgba(235, 204, 209, 0);
    border-bottom-color: #ebccd1;
    border-width: 9px;
    margin-left: -9px;
}


/*Loader*/

.preloaderjs .spinner {
    display: none !important;
}

.preloaderjs#page-preloader {
    background: rgba( 46, 46, 46, 0.99) !important;
}

#page-preloader {
    position: fixed;
    z-index: 100500;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

#page-preloader .theme-loader {
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-animation: spin 2.5s infinite linear;
    animation: spin 2.5s infinite linear;
    border: 3px solid transparent;
    border-radius: 50%;
}